@import "~antd/dist/antd.css";

.site-layout-content {
  display: "flex";
  justify-content: center;
  align-items: center;
  background: #fff;
  line-height:"20px"
}

.menu {
  display: "flex";
  justify-content: space-evenly;
}
